USE [master]
GO
/****** Object:  Database [Device]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE DATABASE [Device]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Device', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER1\MSSQL\DATA\Device.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Device_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER1\MSSQL\DATA\Device_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Device].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Device]
GO
/****** Object:  Table [dbo].[Device_Categories]    Script Date: 23/01/2020 4:28:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device_Categories](
	[D_C_Id] [int] IDENTITY(1,1) NOT NULL,
	[D_C_Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Device_Categories] PRIMARY KEY CLUSTERED 
(
	[D_C_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device_Details]    Script Date: 23/01/2020 4:28:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Device_Details](
	[U_Id] [int] NOT NULL,
	[D_Id] [int] NOT NULL,
	[D_D_DateTime] [datetime] NOT NULL,
	[D_D_Operated] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Device_Details] PRIMARY KEY CLUSTERED 
(
	[U_Id] ASC,
	[D_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 23/01/2020 4:28:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[D_Id] [int] IDENTITY(1,1) NOT NULL,
	[D_Name] [nvarchar](max) NOT NULL,
	[D_Producer] [nvarchar](20) NOT NULL,
	[D_Warranty] [int] NULL,
	[D_Price] [nvarchar](max) NULL,
	[D_Bandwidth] [nvarchar](max) NULL,
	[D_Status] [bit] NOT NULL,
	[D_C_Id] [int] NOT NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[D_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/01/2020 4:28:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[U_Id] [int] IDENTITY(1,1) NOT NULL,
	[U_FullName] [nvarchar](50) NOT NULL,
	[U_Phone] [nvarchar](15) NULL,
	[U_BirthDay] [datetime] NULL,
	[U_Address] [nvarchar](250) NULL,
	[U_Email] [nvarchar](250) NOT NULL,
	[U_Status] [bit] NOT NULL,
	[U_UserName] [nvarchar](50) NOT NULL,
	[U_Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[U_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Device_Categories] ON 

INSERT [dbo].[Device_Categories] ([D_C_Id], [D_C_Name]) VALUES (1, N'Draytek')
INSERT [dbo].[Device_Categories] ([D_C_Id], [D_C_Name]) VALUES (2, N'Fotinet')
INSERT [dbo].[Device_Categories] ([D_C_Id], [D_C_Name]) VALUES (3, N'Linksys-Cisco')
SET IDENTITY_INSERT [dbo].[Device_Categories] OFF
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([D_Id], [D_Name], [D_Producer], [D_Warranty], [D_Price], [D_Bandwidth], [D_Status], [D_C_Id]) VALUES (3, N'ADSL2/2+ Vigor 2700V _ Vigor 2700V', N'Draytek', 12, N' 2.050.000 ', N'Hỗ trợ 4 cấp độ ưu tiên', 1, 1)
SET IDENTITY_INSERT [dbo].[Devices] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([U_Id], [U_FullName], [U_Phone], [U_BirthDay], [U_Address], [U_Email], [U_Status], [U_UserName], [U_Password]) VALUES (1, N'Trần Hữu Toàn', N'0987984575', CAST(N'1996-11-08T00:00:00.000' AS DateTime), N'99/3/3A Tổ 30, Trung Mỹ Tây, Quận 12, TP Hồ Chí Minh', N'toanb1507324@gmail.com', 1, N'toan', N'12345')
INSERT [dbo].[Users] ([U_Id], [U_FullName], [U_Phone], [U_BirthDay], [U_Address], [U_Email], [U_Status], [U_UserName], [U_Password]) VALUES (3, N'Nguyễn Gia Hưng', N'0922222223', CAST(N'1997-03-03T00:00:00.000' AS DateTime), N'99/3/3A Tổ 30,...', N'nghung@gmail.com', 0, N'hung', N'12345')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Device_Details]  WITH CHECK ADD  CONSTRAINT [FK_Device_Details_Devices] FOREIGN KEY([D_Id])
REFERENCES [dbo].[Devices] ([D_Id])
GO
ALTER TABLE [dbo].[Device_Details] CHECK CONSTRAINT [FK_Device_Details_Devices]
GO
ALTER TABLE [dbo].[Device_Details]  WITH CHECK ADD  CONSTRAINT [FK_Device_Details_Users] FOREIGN KEY([U_Id])
REFERENCES [dbo].[Users] ([U_Id])
GO
ALTER TABLE [dbo].[Device_Details] CHECK CONSTRAINT [FK_Device_Details_Users]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Device_Categories] FOREIGN KEY([D_C_Id])
REFERENCES [dbo].[Device_Categories] ([D_C_Id])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Device_Categories]
GO
/****** Object:  Statistic [_WA_Sys_00000002_4BAC3F29]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_4BAC3F29] ON [dbo].[Device_Categories]([D_C_Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000AF756004000000002302000000000000E301000000000000E7030000E7000000FFFF00000000000008D000340000000007000000ADD7E50045AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F040000010025004400720061007900740065006B00FF0100000000000000010000000100000028000000280000000000000000000000070000004400720061007900740065006B000200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [PK_Device_Categories]    Script Date: 23/01/2020 4:28:33 CH ******/
UPDATE STATISTICS [dbo].[Device_Categories]([PK_Device_Categories]) WITH STATS_STREAM = 0x0100000001000000000000000000000033135A26000000002802000000000000E801000000000000380300003800000004000A0000000000000000000000000007000000DF57E70045AB0000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F070000000400000700000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Device_Details]    Script Date: 23/01/2020 4:28:33 CH ******/
UPDATE STATISTICS [dbo].[Device_Details]([PK_Device_Details]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000008_5FB337D6]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000008_5FB337D6] ON [dbo].[Devices]([D_C_Id]) WITH STATS_STREAM = 0x010000000100000000000000000000004DECBD1100000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000DF57E70045AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK_Devices]    Script Date: 23/01/2020 4:28:33 CH ******/
UPDATE STATISTICS [dbo].[Devices]([PK_Devices]) WITH STATS_STREAM = 0x010000000100000000000000000000003EEAD0AB00000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000D757E70045AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F030000000400000100000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_6383C8BA] ON [dbo].[Users]([U_FullName]) WITH STATS_STREAM = 0x01000000010000000000000000000000D6C593C3000000003B02000000000000FB01000000000000E7030000E7000000640000000000000008D0003400000000070000002C1DE80045AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000D0410000803F000000000000D041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000390000000000000087000000000000008F000000000000000800000000000000300010000000803F000000000000803F0400000100310054007200A71E6E0020004800EF1E7500200054006F00E0006E00FF01000000000000000100000001000000280000002800000000000000000000000D00000054007200A71E6E0020004800EF1E7500200054006F00E0006E00020000004000000000010D000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000003_6383C8BA] ON [dbo].[Users]([U_Phone]) WITH STATS_STREAM = 0x0100000001000000000000000000000097128429000000002F02000000000000EF01000000000000E7020000E70000001E0000000000000008D000340000000007000000381DE80045AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0410000803F000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000033000000000000007B0000000000000083000000000000000800000000000000300010000000803F000000000000803F04000001002B003000390038003700390038003400350037003500FF01000000000000000100000001000000280000002800000000000000000000000A0000003000390038003700390038003400350037003500020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000004_6383C8BA] ON [dbo].[Users]([U_BirthDay]) WITH STATS_STREAM = 0x01000000010000000000000000000000A053DBD600000000CF010000000000008F010000000000003D0200003D0000000800170300000000000000000000000007000000371DE80045AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F000000002F8A00000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000005_6383C8BA] ON [dbo].[Users]([U_Address]) WITH STATS_STREAM = 0x01000000010000000000000000000000C474B3DC00000000D7020000000000009702000000000000E7020000E7000000F40100000000000008D0003400000000070000002B1DE80045AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000D0420000803F000000000000D042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000870000000000000023010000000000002B010000000000000800000000000000300010000000803F000000000000803F04000001007F00390039002F0033002F003300410020005400D51E2000330030002C0020005400720075006E00670020004D00F91E20005400E20079002C00200051007500AD1E6E002000310032002C0020005400500020004800D31E200043006800ED0020004D0069006E006800FF010000000000000001000000010000002800000028000000000000000000000034000000390039002F0033002F003300410020005400D51E2000330030002C0020005400720075006E00670020004D00F91E20005400E20079002C00200051007500AD1E6E002000310032002C0020005400500020004800D31E200043006800ED0020004D0069006E0068000200000040000000000134000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000006_6383C8BA] ON [dbo].[Users]([U_Email]) WITH STATS_STREAM = 0x0100000001000000000000000000000055CED506000000005F020000000000001F02000000000000E7030000E7000000F40100000000000008D000340000000007000000381DE80045AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000030420000803F00000000000030420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004B00000000000000AB00000000000000B3000000000000000800000000000000300010000000803F000000000000803F0400000100430074006F0061006E0062003100350030003700330032003400400067006D00610069006C002E0063006F006D00FF01000000000000000100000001000000280000002800000000000000000000001600000074006F0061006E0062003100350030003700330032003400400067006D00610069006C002E0063006F006D000200000040000000000116000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000007_6383C8BA] ON [dbo].[Users]([U_Status]) WITH STATS_STREAM = 0x01000000010000000000000000000000CC9002DC00000000C8010000000000008801000000000000680300006800000001000100000000000000000000000000070000002B1DE80045AB000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001C0000000000000024000000000000000800000000000000100011000000803F000000000000803F010400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000008_6383C8BA] ON [dbo].[Users]([U_UserName]) WITH STATS_STREAM = 0x010000000100000000000000000000007E00D7BA000000001702000000000000D701000000000000E7030000E7000000640000000000000008D000340000000007000000381DE80045AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000270000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001F0074006F0061006E00FF01000000000000000100000001000000280000002800000000000000000000000400000074006F0061006E000200000040000000000104000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_6383C8BA]    Script Date: 23/01/2020 4:28:33 CH ******/
CREATE STATISTICS [_WA_Sys_00000009_6383C8BA] ON [dbo].[Users]([U_Password]) WITH STATS_STREAM = 0x01000000010000000000000000000000740818F5000000001B02000000000000DB01000000000000E7030000E7000000640000000000000008D0003400000000070000002C1DE80045AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F0400000100210031003200330034003500FF010000000000000001000000010000002800000028000000000000000000000005000000310032003300340035000200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [PK_Users]    Script Date: 23/01/2020 4:28:33 CH ******/
UPDATE STATISTICS [dbo].[Users]([PK_Users]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
USE [master]
GO
